@model IEnumerable<MidAssignment.EntityFramework.Item>

@{
    ViewBag.Title = "ItemsInRequest";
}

<h2>ItemsInRequest</h2>

<p>
    <a href="/Resturant/AddItem/@ViewBag.reqID" class="btn btn-success">Add Item</a>
</p>
<div>
    <a href="/Resturant/MyRequestList" class="btn btn-warning">Back To Request List</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpireDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpireDate)
        </td>
        <td>
            <a href="/Resturant/DeleteItem/@item.ID" class="btn btn-danger">Delete</a>
        </td>
    </tr>
}

</table>
